In [84]:
import pandas as pd
import numpy as np

In [112]:
OSP_FILE = 'osp_3.csv'
SIG_FILE = 'sig_3.csv'
dataLoader = pd.DataFrame()

In [113]:
file_osp = pd.read_csv(OSP_FILE, delimiter=';', encoding='UTF-8', low_memory=False, on_bad_lines='skip')
file_sig = pd.read_csv(SIG_FILE, delimiter=';', encoding='UTF-8', low_memory=False, on_bad_lines='skip')

In [114]:
array_osp = file_osp[['FTTH', 'ID']]
array_sig = file_sig[['FTTH', 'ID']]

#Seleccion de puertos 
#array_osp = file_osp[['FTTH', 'PUERTO', 'ID']]
#array_sig = file_osp[['FTTH', 'PUERTO', 'ID']]

In [143]:
array_osp.head()

         FTTH  ID
0  1000014007   2
1  1000088891   3
2  1000014064  25
3  1000014004  29
4  1000014005  30

In [132]:
array_sig.head()

         FTTH  ID
0  1000014007  55
1  1000088891  52
2  1000014064  37
3  1000014004  23
4  1000014005   8

In [139]:
#reemplazar for por while y verificar estado de la fila
#primero busqueda y luego pivoteo
#probar empezando por sig y luego por osp
for i, file_osp in array_osp.iterrows():
    for j, file_sig in array_sig.iterrows():

        #Pivote y Liberdo inicializados en cero
        pivote = 0
        liberado = 0

        #Verifica que filas FTTH sean iguales en ambos archivos
        if(file_osp['FTTH'] == file_sig['FTTH']):

            #Verifica que nos encontremos en el mismo puerto
            #if(file_osp['PUERTO'] == file_sig['PUERTO']):

            #Asigna los valores de ID al Dataloader de forma inmediata si es que ambos tienen mismo valor
            if(file_osp['ID'] == file_sig['ID']):

                break

                ##campo X se encuentra OK

                #Dataloader.csv
                dataLoader['NS_FTTH'] = file_osp['FTTH']
                dataLoader['OSP'] = file_osp['ID']
                dataLoader['Liberado'] = liberado

            elif (file_osp['ID'] != file_sig['ID']):


                    #recorrer columna OSP en busqueda de valor SIGRES en OSP antes de empezar esto
                    #probar con otro for
                   

                    #Se crea un primer pivoteo y se guarda en registro
                    liberado = file_osp['ID']
                    file_osp['ID'] = pivote

                    #Se guardan en registro
                    dataLoader['NS_FTTH'] = file_osp['FTTH']
                    dataLoader['OSP'] = file_osp['ID']
                    dataLoader['Liberado'] = liberado
            
            else: 
                break

        #for o map
        if(file_osp['ID'] == file_sig['ID']):
            
            #Se asigna valor de ID en OSP y se guarda pivote en SIGRES
            file_osp['ID'] = file_sig['ID']
            file_sig['ID'] = pivote

            #Se guardan en registro
            dataLoader['NS_FTTH'] = file_osp['FTTH']
            dataLoader['OSP'] = file_osp['ID']
            dataLoader['Liberado'] = liberado
            break

        else:
            break

In [144]:
dataLoader

Empty DataFrame
Columns: [NS_FTTH, OSP, Liberado]
Index: []

In [123]:
#Crea archivo DataLoader
dataLoader.to_csv('DataLoader.csv', index=False)