In [1]:
import pandas as pd
import numpy as np

In [2]:
from sys import path
import os
path.append(os.path.realpath('../'))

In [3]:
FILE_1 = 'Data/info_onnet_v4.csv'
FILE_44 = 'Data/inf_detalle_recurso_onnet_20220822_0400_con tarjeta_v2.csv'
#FILE_2 = 'Data/tarjetas.csv'
#FILE_3 = 'Data/dataframe_3.csv'

In [ ]:
uno = pd.read_csv('Data/relat_VWE_CABLE_SEG_ACC_POINT_c.csv', sep=',', low_memory=False)
dos = pd.read_csv('Data/relat_VWE_CABLE_SEG_FIBER_cist_.csv', sep=',', low_memory=False)
tres = pd.read_csv('Data/relat_VWE_INITIAL_SITE_EQPT_cis.csv', sep=',', low_memory=False)
cuatro = pd.read_csv('Data/relat_VWE_INTERM_EQPT_cist_gpon.csv', sep=',', low_memory=False)
cinco = pd.read_csv('Data/relat_VWE_LOGICAL_CIRCUIT_FTTX_.csv', sep=',', low_memory=False)
seis = pd.read_csv('Data/relat_VWE_TERMINAL_SITE_EQPT_ci.csv', sep=',', low_memory=False)

In [ ]:
print(uno.shape)
print(dos.shape)
print(tres.shape)
print(cuatro.shape)
print(cinco.shape)
print(seis.shape)

(2125, 19)
(52376, 42)
(7744, 63)
(7928, 40)
(3842, 123)
(3840, 57)

In [ ]:

dataframe_1 = pd.read_csv(FILE_1, sep=',', low_memory=False)

dataframe_122 = pd.read_csv(FILE_44, sep=';', low_memory=False)
#dataframe_2 = pd.read_csv(FILE_2, sep=';', encoding='latin-1', low_memory=False)
#dataframe_3 = pd.read_csv(FILE_3, sep=',', encoding='utf-8', low_memory=False)

In [ ]:
dataframe_1.dtypes

In [ ]:
dataframe_1.shape

(3131225, 35)

In [ ]:
dataframe_122.dtypes

In [ ]:
dataframe_122[''inde].drop

<bound method Series.drop of 0              0
1              1
2              2
3              3
4              4
           ...
3141973    10748
3141974    10749
3141975    10750
3141976    10751
3141977    10752
Name: Unnamed: 0, Length: 3141978, dtype: int64>

In [ ]:
dataframe_122.head()

,Unnamed: 0,TELEFONO,AGENCIA,EMPLAZAMIENTO,FABRICANTE,MODELO,HOSTNAME,IPADDRESS,RACK,SHELF,...,AGREGADOR_RACK,AGREGADOR_SHELF,AGREGADOR_SLOT,AGREGADOR_SUBSLOT,AGREGADOR_PUERTO,ID_PUERTO,ACCESS_ID,CARD_NAME,TECHNOLOGY_TYPE,TYPE_OF_CARD
0,0,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,...,NaN,NaN,1,0,1/,10775727,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
1,1,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,...,NaN,NaN,1,0,1/,10775725,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
2,2,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,...,NaN,NaN,1,0,1/,10775710,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
3,3,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,...,NaN,NaN,1,0,1/,10775734,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
4,4,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,...,NaN,NaN,1,0,1/,10775734,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD

In [ ]:
dataframe_1.head(3)

,TELEFONO,AGENCIA,EMPLAZAMIENTO,FABRICANTE,MODELO,HOSTNAME,IPADDRESS,RACK,SHELF,SLOT,...,AGREGADOR_RACK,AGREGADOR_SHELF,AGREGADOR_SLOT,AGREGADOR_SUBSLOT,AGREGADOR_PUERTO,ID_PUERTO,ACCESS_ID,CARD_NAME,TECHNOLOGY_TYPE,TYPE_OF_CARD
0,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,2,...,NaN,NaN,1,0,1/,10775727,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
1,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,2,...,NaN,NaN,1,0,1/,10775725,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
2,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,1,...,NaN,NaN,1,0,1/,10775710,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD

In [ ]:
dataframe_2.shape

(4191, 7)

In [ ]:
dataframe_2.columns

Index(['FECHA', 'MODELO', 'HOSTNAME', 'SLOT', 'CARD_NAME', 'TECHNOLOGY_TYPE',
       'TYPE_OF_CARD'],
      dtype='object')

In [ ]:
dataframe_1.dtypes

TELEFONO                  object
AGENCIA                   object
EMPLAZAMIENTO             object
FABRICANTE                object
MODELO                    object
HOSTNAME                  object
IPADDRESS                 object
RACK                       int64
SHELF                      int64
SLOT                       int64
SUBSLOT                  float64
PORT                       int64
PORT_TYPE                 object
ID_FIBRA                 float64
ESTADO_OPERACIONAL        object
ESTADO_ADMINISTRATIVO     object
ESTADO_USO                object
ESTADO_GENERAL            object
GESTIONADO                object
ZONA_COBERTURA            object
INF_ADICIONAL             object
INF_COMERCIAL             object
AGREGADOR_HOSTNAME        object
AGREGADOR_MODELO          object
AGREGADOR_IPADDRESS       object
AGREGADOR_RACK           float64
AGREGADOR_SHELF          float64
AGREGADOR_SLOT             int64
AGREGADOR_SUBSLOT          int64
AGREGADOR_PUERTO          object
ID_PUERTO                  int64
ACCESS_ID                 object
CARD_NAME                 object
TECHNOLOGY_TYPE           object
TYPE_OF_CARD              object
dtype: object

In [ ]:
df2 = dataframe_2.loc[dataframe_2['SLOT'] != 'NTA']
df2

In [ ]:
df2_2 = df2.loc[df2['SLOT'] != 'NTB']
df2_2

In [ ]:
removerDatosArroba = dataframe_1.loc[dataframe_1['TELEFONO'].str.contains('@', case=False, na=False)]

In [ ]:
removerDatosArroba.head()

,TELEFONO,AGENCIA,EMPLAZAMIENTO,FABRICANTE,MODELO,HOSTNAME,IPADDRESS,RACK,SHELF,SLOT,...,AGREGADOR_RACK,AGREGADOR_SHELF,AGREGADOR_SLOT,AGREGADOR_SUBSLOT,AGREGADOR_PUERTO,ID_PUERTO,ACCESS_ID,CARD_NAME,TECHNOLOGY_TYPE,TYPE_OF_CARD
122,0990000125713@PSXTIE26713,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,2,...,NaN,NaN,1,0,1/,10775726,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
132,0990000108483@VPX1773252,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,1,...,NaN,NaN,1,0,1/,10775710,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
162,0990000118015@PSXTIE24781,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,2,...,NaN,NaN,1,0,1/,10775732,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
176,0990000108486@VPX1773254,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,1,...,NaN,NaN,1,0,1/,10775710,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
209,0990000108456@VPX1773232,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,1,...,NaN,NaN,1,0,1/,10775722,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD

In [ ]:
removerDatosArroba.to_csv('Data/Arrobas.csv',sep=';', encoding='latin-1')

In [ ]:
dataframe_3.head(4)

,TELEFONO,AGENCIA,EMPLAZAMIENTO,FABRICANTE,MODELO,HOSTNAME,IPADDRESS,RACK,SHELF,SLOT,...,AGREGADOR_RACK,AGREGADOR_SHELF,AGREGADOR_SLOT,AGREGADOR_SUBSLOT,AGREGADOR_PUERTO,ID_PUERTO,ACCESS_ID,CARD_NAME,TECHNOLOGY_TYPE,TYPE_OF_CARD
0,NaN,VINA DEL MAR,CH_VDMA_LIBE,HUAWEI TECHNOLOGIES,MA5800,LIBE_OLT_5,10.104.42.146,1,1,15,...,NaN,NaN,5,1,1/,18269935,NaN,H902FLHF,GPON-XGSPON,FLEX-PON 16-PORT LINE CARD
1,NaN,VINA DEL MAR,CH_VDMA_LIBE,HUAWEI TECHNOLOGIES,MA5800,LIBE_OLT_5,10.104.42.146,1,1,15,...,NaN,NaN,5,1,1/,18269936,NaN,H902FLHF,GPON-XGSPON,FLEX-PON 16-PORT LINE CARD
2,NaN,VINA DEL MAR,CH_VDMA_LIBE,HUAWEI TECHNOLOGIES,MA5800,LIBE_OLT_5,10.104.42.146,1,1,15,...,NaN,NaN,5,1,1/,18269939,NaN,H902FLHF,GPON-XGSPON,FLEX-PON 16-PORT LINE CARD
3,NaN,VINA DEL MAR,CH_VDMA_LIBE,HUAWEI TECHNOLOGIES,MA5800,LIBE_OLT_5,10.104.42.146,1,1,15,...,NaN,NaN,5,1,1/,18269937,NaN,H902FLHF,GPON-XGSPON,FLEX-PON 16-PORT LINE CARD

In [ ]:
dataframe_3.shape

(10753, 35)

In [ ]:
df_1_aux = dataframe_1
df_3_aux = dataframe_3

In [ ]:
df_1_aux.shape

(3131225, 35)

In [ ]:
df_3_aux.shape

(10753, 35)

In [ ]:
3131225+10753

3141978

In [ ]:
df_final = df_1_aux + df_3_aux

In [ ]:
df_final = df_1_aux.append(df_3_aux, ignore_index=False)

C:\Users\navar\AppData\Local\Temp\ipykernel_6440\3992214450.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_1_aux.append(df_3_aux, ignore_index=False)

In [ ]:
df_final.shape

(3141978, 35)

In [ ]:
df_final.to_csv('Data/Info_ONNET_V2.csv',sep=';', encoding='latin-1')

In [ ]:
df_final.head(4)

,TELEFONO,AGENCIA,EMPLAZAMIENTO,FABRICANTE,MODELO,HOSTNAME,IPADDRESS,RACK,SHELF,SLOT,...,AGREGADOR_RACK,AGREGADOR_SHELF,AGREGADOR_SLOT,AGREGADOR_SUBSLOT,AGREGADOR_PUERTO,ID_PUERTO,ACCESS_ID,CARD_NAME,TECHNOLOGY_TYPE,TYPE_OF_CARD
0,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,2,...,NaN,NaN,1,0,1/,10775727,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
1,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,2,...,NaN,NaN,1,0,1/,10775725,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
2,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,1,...,NaN,NaN,1,0,1/,10775710,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD
3,NaN,LAS REJAS,CH_PUDA_PUDA,ALCATEL,ISAM7360FX,PUDA_OLT_1,10.104.133.2,1,1,2,...,NaN,NaN,1,0,1/,10775734,NaN,FGLT-B,GPON,16-PORT GPON LINE CARD

In [ ]:
df_final.dtypes

TELEFONO                  object
AGENCIA                   object
EMPLAZAMIENTO             object
FABRICANTE                object
MODELO                    object
HOSTNAME                  object
IPADDRESS                 object
RACK                       int64
SHELF                      int64
SLOT                       int64
SUBSLOT                  float64
PORT                       int64
PORT_TYPE                 object
ID_FIBRA                 float64
ESTADO_OPERACIONAL        object
ESTADO_ADMINISTRATIVO     object
ESTADO_USO                object
ESTADO_GENERAL            object
GESTIONADO                object
ZONA_COBERTURA            object
INF_ADICIONAL             object
INF_COMERCIAL             object
AGREGADOR_HOSTNAME        object
AGREGADOR_MODELO          object
AGREGADOR_IPADDRESS       object
AGREGADOR_RACK           float64
AGREGADOR_SHELF          float64
AGREGADOR_SLOT             int64
AGREGADOR_SUBSLOT          int64
AGREGADOR_PUERTO          object
ID_PUERTO                  int64
ACCESS_ID                 object
CARD_NAME                 object
TECHNOLOGY_TYPE           object
TYPE_OF_CARD              object
dtype: object

# Consultas por OLT =>
HOSTNAME = 'PITA_OLT_4' SLOT = 1

HOSTNAME = 'PITA_OLT_4' SLOT = 4

HOSTNAME = 'PITA_OLT_4' SLOT = 6

In [ ]:
query_1 = df_final.query("`HOSTNAME` == 'PITA_OLT_4' and `SLOT` == 1")

In [ ]:
query_2 = df_final.query("`HOSTNAME` == 'PITA_OLT_4' and `SLOT` == 4")

In [ ]:
query_3 = df_final.query("`HOSTNAME` == 'PITA_OLT_4' and `SLOT` == 6")

In [ ]:
query_1.to_csv('Data/Info_PITA_4_SLOT_1.csv',sep=';', encoding='latin-1')
query_2.to_csv('Data/Info_PITA_4_SLOT_4.csv',sep=';', encoding='latin-1')
query_3.to_csv('Data/Info_PITA_4_SLOT_6.csv',sep=';', encoding='latin-1')

### Iterar sobre JSON

In [ ]:
import json

In [ ]:
fileJson = {
    "fullname": "Tom",
    "languages": ["English", "German"],
    "Json #1": {
        "uuid:vo": 1,
        "B": "Dentro",
        "C": "del",
        "D": "Json",
        "E": "# 1"
            },
    "Json #2": {
        "A": 2,
        "B": "Dentro",
        "C": "del",
        "D": "Json",
        "E": "# 2"
            }
            }

In [ ]:
len(fileJson)

4

In [ ]:
#Loop along dictionary keys
contador = 0
datos = {}
for key in fileJson:
    largo = len(fileJson)
    if contador < 2:
        print(key, ":", fileJson[key])
        a = fileJson[key]
        
        # guardar en un archivo_{contador}.json
        contador +=1

fullname : Tom
languages : ['English', 'German']